.input {
  min-width: 100%;

  :global .MuiInputBase-root.MuiOutlinedInput-root {
    border-radius: 0.8rem;
    font-family: Poppins, serif;
    color: var(--color-text);
  }

  :global .MuiFormLabel-root.MuiInputLabel-root {
    padding-right: 0.2rem;
    font-family: Poppins, serif;
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  :global .MuiInputAdornment-root {
    & .MuiSvgIcon-root {
      fill: var(--color-text);
    }
  }
}
