@use '@/styles/utils' as *;

.languageSelect {
  // width: 100%;
  max-width: px-to-rem(100);
  background-color: transparent;

  @include hover {
    background-color: transparent;
  }

  :global .MuiSvgIcon-root {
    width: px-to-rem(16);
    height: px-to-rem(16);
  }

  :global .MuiSvgIcon-root.MuiSelect-icon {
    display: none;
  }

  :global .MuiSelect-select.MuiInputBase-input.MuiFilledInput-input {
    padding-right: 0;
  }

  :global(.MuiSelect-select) {
    padding: px-to-rem(4);
  }

  & .renderValue {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: px-to-rem(4);
    font-size: px-to-rem(16);
    color: var(--color-text);
    text-transform: uppercase;
  }
}
