$desktop-l: 2185px;
$desktop: 1440px;
$laptop-l: 1280px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;

@mixin desktop-l {
  @media (min-width: $desktop-l) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin laptop-l {
  @media (min-width: $laptop-l) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}
